<header class="mb-10">
  <nav
    class="flex flex-row justify-between max-h-20 items-center bg-slate-700 py-2 px-9 text-white"
  >
    <div class="font-primary text-2xl font-light items-center flex flex-row gap-10">
      <img class="relative left-20 -translate-x-2/5 h-35 w-55" src="movidblogo.png" alt="logo" />
      <a class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out" routerLink="/"
        >Home</a
      >
      <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/movies"
        routerLinkActive="active"
        >Movies</a
      >
      <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/tvseries"
        routerLinkActive="active"
        >TV Series</a
      >
          <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/castandcrew"
        routerLinkActive="active"
        >Cast & Crew</a
      >
    </div>
    <div class="font-primary text-xl flex flex-row gap-10">
      <button
        class="bg-amber-500 border-2 rounded-md px-2 py-0.5 hover:scale-105 hover:bg-slate-600 duration-300 ease-in-out"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </button>
      <button
        class="bg-amber-500 border-2 rounded-md px-2 py-0.5 hover:scale-105 hover:bg-slate-600 duration-300 ease-in-out"
        routerLink="/register"
        routerLinkActive="active"
      >
        Register
      </button>
    </div>
  </nav>
</header>
