<header class="mb-10">
  <nav
    class="flex flex-row justify-between max-h-20 items-center bg-slate-700 py-2 px-9 text-white"
  >
    <div class="font-primary text-2xl font-light items-center flex flex-row gap-10">
      <img class="relative left-20 -translate-x-2/5 h-35 w-55" src="movidblogo.png" alt="logo" />
      <a class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out" routerLink="/"
        >Home</a
      >
      <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/movies"
        routerLinkActive="active"
        >Movies</a
      >
      <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/tvseries"
        routerLinkActive="active"
        >TV Series</a
      >
          <a
        class="hover:scale-105 hover:text-amber-500 duration-300 ease-in-out"
        routerLink="/castandcrew"
        routerLinkActive="active"
        >Cast & Crew</a
      >
    </div>
    @if (isLoggedIn()){
      <div class="font-primary text-xl flex flex-row gap-5">
      <button
        class="bg-amber-500 text-white border-2 border-amber-400 rounded-md px-6 py-1 hover:scale-105 hover:bg-slate-600 transition-all duration-300 ease-in-out shadow-xl"
        routerLink="/profile"
        routerLinkActive="active"
      >
        Profile
      </button>
      <button
        class="bg-amber-500 text-white border-2 border-amber-400 rounded-md px-6 py-1 hover:scale-105 hover:bg-slate-600 transition-all duration-300 ease-in-out shadow-xl"
        (click)="auth.logoutUser()"
      >
        Logout
      </button>
    </div>
    }
    @else {
    <div class="font-primary text-xl flex flex-row gap-5">
      <button
        class="bg-amber-500 text-white border-2 border-amber-400 rounded-md px-6 py-1 hover:scale-105 hover:bg-slate-600 transition-all duration-300 ease-in-out shadow-xl"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </button>
      <button
        class="bg-amber-500 text-white border-2 border-amber-400 rounded-md px-6 py-1 hover:scale-105 hover:bg-slate-600 transition-all duration-300 ease-in-out shadow-xl"
        routerLink="/register"
        routerLinkActive="active"
      >
        Register
      </button>
    </div>
  }
  </nav>
</header>
